
.thank-you{
  padding: 70px 0px;
}
h2.thank-message{
  font-size: 25px;
  font-weight: 600;
  color: #00b853;
  text-align: center;
  border: 2px solid #00b853;
  border-style: dashed;
  padding: 25px 0px;
  border-radius: 10px;
  overflow: hidden;
}
.order-full-data{
  padding: 40px 0px;
}
h2.order-details{
  font-size: 19px;
  font-weight: 700;
  margin-bottom: 5px;
}








