
.cart-section{
  padding: 40px 0px;
}
.top-part-cart{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 20px;
}
.top-part-cart h1.head-cart{
  font-size: 25px;
  font-weight: 700;
}

/***** cart table css ********/
.cart-body table thead {
  background: #a8a8a8 !important;
}
.table-box .image img{
 width: 100px;
 border: 1px solid #cbcbcb;
 border-radius: 5px;
 padding: 4px;
}
.product-content {
 padding-left: 15px;
}
.product-content a h5{
 font-size: 16px;
 color: #7E7E7E;
 font-weight: 600;
 transition: all 0.3s ease-in-out;
}
.product-content a h5:hover{
 color: orange !important;
}
.product-price{
 vertical-align: middle;
 font-size: 22px;
 font-weight: 500;
}

/****** product-counter *******/
.cart-counter {
  padding: 20px 0px;
  display: flex;
  gap: 12px;
  margin-top: 15px;
}
.subTotal{
   vertical-align: middle;
   text-align: center;
   color: var(--primary-color) !important;
   font-size: 22px;
}
.delete-product{
  vertical-align: middle;
  text-align: center;
  font-size: 20px;
  color: #7E7E7E;
  font-weight: 600;
}
.delete-product span{
  cursor: pointer;
}
.continue-btn a{
  background-color: var(--primary-color);
  padding: 12px 20px;
  display: inline-block;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  border-radius: 10px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

/****** right box  ******/
.total-box{
  position: sticky;
  top: 20px;
}
.card-body h3.cart-total{
  font-size: 22px;
  font-weight: 700;
  color: var(--heading-color);
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom:  1px solid #d8d8d8 !important;
  text-transform: uppercase;
}
.total-box{
  margin-left: 10px;
}
.top-total{
  font-size: 18px;
  font-weight: 600;
  color: var(--primary-color);
  border: none;
}
.sub-price{
  font-size: 18px;
  font-weight: 600;
  color: var(--primary-color);
  border: none;
}
.border-info{
  padding-top: 10px;
}
.same-text{
  font-size: 18px;
  color: #7E7E7E !important;
  font-weight: 600;
  border: none;
}
.right-text{
  font-size: 16px !important;
  color: #7E7E7E !important;
  font-weight: 500;
}
/* add to cart */
.process-btn a{
  background-color: var(--primary-color);
  padding: 12px 20px;
  display: inline-block;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  transition: all 0.3s ease-in-out;
}
.process-btn a .cart-icon{
  margin-right: 3px;
  color: #fff;

}


/**** Responsive css ******/
@media (min-width : 320px) and (max-width: 576px){
.my-cart-row {
  display: flex;
  flex-direction: column;
}
.cart-product table {
  display: flex;
  justify-content: space-between;
}
.cart-product table thead tr{
    display: flex;
    flex-direction: column;
}
.cart-product table tbody{
  position: relative;
  top: -32px;
  background: transparent !important;

}
.table-box .image img{
  opacity: 0;
  visibility: hidden;
}
.cart-product table tbody tr{
  display: flex;
  flex-direction: column;
  text-align: end;
}
.cart-product table tbody tr td {
  display: flex;
  justify-content: flex-end;
}
.cart-body table thead {
  background: #ffffff !important;
}
.cart-counter {
  position: relative;
  right: -7%;
}



}



