

/***** Product css  *******/
.homeBanner .info{
  background-image: url("../../assets/banner/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  border-radius: 10px !important;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 40px;
}
.homeBanner .info h2{
  font-size: 14px;
  color: #fff !important;
  font-weight: 500;
}
.product-name h3{
  font-size: 22px;
  font-weight: 400;
  color: #969696;
}
.product-name h1{
  font-size: 30px;
  font-weight: 700;
}
.info .price h4{
  color: var(--price-color);
  font-size: 25px;
}
.product-slider .product-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-slider .product-header h2{
  color: var(--heading-color);
  font-size: 20px;
  font-weight: 600;
}
.product-slider .product-header p{
  color: #9B9BB4;
  font-size: 12px;
  font-weight: 400;
}
.view-all-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px 20px;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 30px;

}


/**** Product css ******/
.product-item{
  width: 100%;
  height: auto;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 5px;
}
.product-item .all-details{
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.product-item .all-details a{
  font-family: var(--font-secondary);
  font-size: 15px !important;
  font-weight: 500;
  color: var(--heading-color);
}
.product-item .all-details p{
  color: var(--secondary-color);
  font-size: 13px;
  font-weight: 600;
  font-family: var(--font-primary);
}
.price-total .delete-price{
  font-size: 16px;
  font-weight: 600;
  font-family: var(--font-primary);
  color: #C2C2D3;
  text-decoration: line-through;
}
.price-total .regular-price{
   color: var(--price-color);
   font-family: var(--font-primary);
   font-weight: 600;
   margin-left: 4px;
}
.product-item .all-details  a.cart-btn {
  font-size: 13px;
  font-family: var(--font-secondary);
  color: var(--primary-color);
  line-height: 18px;
  padding: 6px 20px;
  border: 1px solid var(--primary-color);
  width: 170px !important;
  border-radius: 25px;
  text-align: center;
  margin: auto;
}
.product-item .imagewrapper {
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.product-item .imagewrapper:hover img{
  transform: scale(1.1);
}
.imagewrapper .discount{
  height: 30px;
  width: 40px;
  background-color: var(--primary-color);
  position: absolute;
  left: 15px;
  top: 15px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imagewrapper .discount span{
  font-size: 12px;
  color: #fff;
}
.imagewrapper .actions{
  position: absolute;
  top: 20px;
  right: -100% ;
  display: flex;
  flex-direction: column;
  gap: 6px;
  opacity: 0 ;
  visibility: hidden;
}
.imagewrapper .actions button{ 
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #fff !important;
  z-index: 60;
 border: 1px solid rgb(222, 222, 222);
 transition: all 0.3s ease-in-out ;
} 
.imagewrapper .actions button svg{
  color: #969696;
}
.imagewrapper .actions button:hover{
  background-color: var(--hover-color) !important;
}
.imagewrapper .actions button:hover svg{
  color: #fff;
}

.product-item:hover .imagewrapper .actions{
  opacity: 1;
  visibility: visible;
  right: 10px;
}