

.signInpage{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signInpage .card img{
  width: 60%;
  margin: auto;
}
.signInpage .card h1{
  font-size: 22px;
  font-weight: 600;
  font-family: var(--font-secondary);
  color: var(--heading-color);
  padding-top: 40px;
}
.form form button.my-button{
  background-color: var(--hover-color);
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  width: 70%;
  transition: all 0.3s ease-in-out;
}
.form form button.my-button:hover{
  background-color: var(--primary-color);
}
.form button.google-btn{
  border: 1px solid var(--primary-color);
  width: 100%;
  background-color: transparent;
  padding: 5px 0px;
  margin-top: 10px;
}
.form button.google-btn img{
  width: 30px;
}
.form button.google-btn span{
  font-size: 13px;
  font-weight: 600;
  font-family: var(--font-secondary);
  color: black;
  padding-left: 4px;
}
.login-btn{
  display: flex;
  gap: 10px;
}
.login-btn a{
  background-color: red;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  width: 29%;
  padding: 8px 20px;
  display: block;
  border-radius: 5px;
 text-align: center;
}

/**** Responsive css ******/
@media (min-width : 320px) and (max-width: 576px){
.form form button.my-button {
  width: 60%;
}
.login-btn a {
  width: 37%;
}


}




