
.productDetails{
  padding: 45px 0px;
}
.productDetails h3 {
  font-size: 23px;
  font-weight: 500;
  font-family: var(--font-secondary);
  color: var(--font-secondary);
  margin-bottom: 10px;
}
.productDetails .close_btn svg {
  font-size: 22px !important;
}
.brand{
  padding-right: 20px !important;
}
.brand span {
  padding-right: 10px !important;
}
.cart-counter {
  padding: 20px 0px;
  display: flex;
  gap: 12px;
 margin-top: 0px !important; 
}

/****** description  *****/
.product-content {
   padding-left: 0px !important; 
}
.price-total {
  padding: 5px 0px;
}
.product-content .price-total .regular-price {
  font-size: 25px;
 }
 .product-content .price-total .delete-price{
   font-size: 18px;
 }
 span.currency-data{
  font-family: var(--font-primary);
  font-weight: 600;
  color: var(--hover-color);
}
 .product-content .stock{
   font-size: 14px;
   color: var(--secondary-color);
   background-color: #e5f8ed;
   padding: 4px 8px ;
   border-radius: 5px;
   width: 80px;
   font-weight: 600;
   text-align: center;
   margin-top: 5px;
 }
 .product-content p.desc{
   font-size: 13px;
   font-weight: 400;
   font-family: var(--font-secondary);
   color: var(--heading-color);
   margin-top: 20px;
   margin-bottom: 20px;
   width: 650px;
 }
 .product-content button.cart-btn{
   font-size: 16px;
   font-weight: 500;
   background-color: var(--hover-color);
   font-family: var(--font-secondary);
   color: #fff;
   padding: 8px 40px;
   border-radius: 25px;
 }

/*************** product  size  *****************/
.productSize span{
  font-size: 12px;
  color: #0c1419;
  font-weight: 500;
}
.productSize ul {
  margin-left: 10px;
}
.productSize ul.error li a{
  border: 1px solid red;
}
.productSize ul li a {
  font-size: 15px;
  color: #747474;
  border: 1px solid #d2d2d2;
  display: inline-block;
  padding: 6px 9px;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}
.productSize ul li a.active {
  background-color: var(--hover-color);
  color:#fff;
}
.wish-compare-btn{
  display: flex ;
  gap: 10px;
  padding-left: 20px;
}
.wish-compare-btn button.MuiButtonBase-root{
   border: 1px solid rgb(208, 208, 208);
   border-radius: 50%;
   text-transform: uppercase;
   color: #000;
   font-family: var(--font-secondary);
   font-size: 14px;
   height: 40px !important;
   width: 40px !important;
   max-width: 40px !important;
}
.wish-compare-btn button.MuiButtonBase-root svg{
  font-size: 20px;
}
.wish-compare-btn .css-1e6y48t-MuiButtonBase-root-MuiButton-root {
   min-width: 0px;
   padding: 0px;
}

.follow-us-btn{
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 20px;
}
.follow-us-btn p{
  font-size: 18px;
  font-weight: 500;
}
.follow-us-btn .share-icon{
  display: flex;
  gap: 20px;
  align-items: center;
}
.follow-us-btn .share-icon span svg{
  font-size: 24px;
  transition: all ease-in-out 0.3s;
}
.follow-us-btn .share-icon span svg:hover{
  color: var(--primary-color);
}
/************  prouct details tab css   ***************/
.productDetailsTab {
  border-radius: 20px;
  margin-right: 20px !important;
  margin-top: 50px;
}
.productDetailsTab .custom-tabs .all-small-font{
  font-size: 15px;
  color: #7E7E7E;
  margin-top: 5px;
}
.productDetailsTab .custom-tabs .meduim-text{
  font-size: 24px;
  color: #253D4E;
  font-weight: 600;
  padding: 15px 0px;
}
.productDetailsTab .custom-tabs ul li button {
  border: 1px solid #ececec;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
  padding: 7px 16px;
  display: block;
  background: transparent;
  border-radius: 25px;
  font-size: 17px;
  font-weight: 500;
  color: #6f6e6e;
}
.productDetailsTab .custom-tabs ul li button.active{
  color: var(--primary-color);
}


/********* review all details css ********/
.review-customer h4{
   color: #2A2A2A;
   font-size: 18px;
   font-weight: 600;
   margin-bottom: 20px;
}
.review-card{
   display: flex;
   gap: 8px;
   flex-direction: row;
   transition: all 0.3s ease-in-out;
   width: 100%;
}
.review-card:hover{
   transform: translateY(-5px);
}
.review-card .image-item {
  width: 15%;
}
.review-card .image-item .rounded-circle {
  width: 110px !important;
}
.review-card .image-item .rounded-circle img {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  object-fit: cover;
}
.review-card .image-item p{
    font-size: 14px;
    font-weight: 600;
    margin-left: 15px;
    color: #B6B6B6;
    margin-top: 4px;
}
.review-card .card-info {
  width: 73%;
}
.review-card .card-info .review-date{
  color: #B6B6B6;
  font-size: 13px;
  font-weight: 400;
}
.review-card.card-info .star-message{
  font-size: 15px;
  color: #7E7E7E;
  font-weight: 400;
  margin-top: 7px;
}
.review-card .review-final{
  width: 17%;
}
.customer-review-info{
  display: flex;
  justify-content: space-between;
}
.css-1qqgbpl-MuiRating-root {
  position: relative;
  top: 5px;
  left: 7px;
}
/****** right side ber  ******/
.review-details{
  padding-left: 20px;
}
.review-details h4{
  color: #2A2A2A;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}
.review-details .review-count{
  font-size: 16px;
  color: #253D4E;
  font-weight: 600;
}
.review-details .review-count p .total {
  top: -3px;
  position: relative;
  margin-left: 4px;
}
.small-last .small-text{
  font-size: 12px;
  color: #7E7E7E;
  margin-top: 40px;
}


/***** review-form  *****/
.review-form{
  margin-top: 50px;
}
.review-form h3{
   font-size: 23px;
   font-weight: 600;
   color: #253D4E;
}
.review-form .form {
  margin-top: 20px !important;
}
.review-form .form-control:focus {
   outline: none !important;
}
.review-form .submit-btn{
   background-color: var(--primary-color);
   font-size: 16px;
  font-weight: 500;
  padding: 15px 40px;
  color: #ffffff;
  border-radius: 10px;
  border: 1px solid var(--primary-color);
  margin-top: 20px;
}

/***** single-progress bar *******/
.progress-bar-item .single-progress{
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 20px;
} 
 .progress-bar-item .single-progress span{
   font-size: 12px;
   color: #7E7E7E;
   font-weight: 400;
   width: 42px;
} 
 .progress-bar-item .single-progress .progress .progress-bar{
   background-color: var(--primary-color);
   height: 15px;
} 


/******** Responsive css  *******/

/***** Min 320px & Max 576px  ******/
@media (min-width : 320px) and (max-width: 576px){
.productDetails h3{
  margin-top: 20px;
}
.product-content {
  padding-left: 0px !important;
}
.productSize span {
  font-size: 17px;
}
.productSize.d-flex {
  display: flex;
  gap: 10px;
}
.product-content button.cart-btn {
  padding: 8px 15px;
}
.productDetailsTab {
  padding: 10px !important;
}
li.list-inline-item.my-custom-list {
  margin-bottom: 10px;
}
.cart-counter{
  display: flex;
  gap: 10px;
  padding: 0px !important;
}
.wish-compare-btn {
  display: none;
}
.all-count-compare{
  align-items: flex-start !important;
}
.all-count-compare.d-flex {
  display: flex;
  flex-direction: column;
}
.review-card {
  display: flex !important;
  flex-direction: column !important;
}
.review-card .image-item {
  width: 100%;
}
.customer-review-info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
}
.form-group.star-view {
  margin-top: 16px;
}
.css-1nbsiwm-MuiRating-root {
  position: relative;
  top: 3px;
}
.review-details {
  margin-top: 41px;
  padding-left: 0px !important;
}
.product-item .all-details  a.cart-btn {
  padding: 8px 15px;
}

}

